<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Los Fitness</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink="activity" class="nav-link">Activity</a>
        </li>
        <li class="nav-item">
          <a routerLink="recompensa" class="nav-link">Recompensa</a>
        </li>
        <li class="nav-item">
          <a routerLink="usuario" class="nav-link">Usuario</a>
        </li>
        <li class="nav-item">
          <a routerLink="usuariorecompensa" class="nav-link">Recompensa a Usuario</a>
        </li>
      </div>
    </nav>
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
  