<div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body">
            <h3 class="titulo">UsuarioControler</h3>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="titulo">{{ accion | uppercase }} TARJETA</h5>
  
            <form [formGroup]="form" (ngSubmit)="saveOrUpdateUsuarioControler()">
              <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                  <i
                    class="fas fa-user"
                    [class.green-icon]="this.form.get('nombre')?.valid"
                    [class.red-icon]="
                      this.form.get('nombre')?.invalid &&
                      this.form.get('nombre')?.touched
                    "
                  ></i>
                </span>
                <input
                  formControlName="nombre"
                  type="text"
                  class="form-control"
                  placeholder="nombre"
                />
              </div>
  
              <div class="d-grid gap-2">
                <button
                  [disabled]="this.form.invalid"
                  type="submit"
                  class="btn btn-success btn-lg"
                >
                  <i class="fas fa-database"></i>&nbsp; Aceptar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="titulo">LISTADO DE USUARIOS</h5>
            <table class="table">
              <tbody>
                <tr *ngFor="let usuarioControler of usuarioControlers">
                  <td>{{ usuarioControler.nombre }}</td>
                  <td>
                    <i
                      (click)="editUsuarioControler(usuarioControler)"
                      class="far fa-edit text-info"
                    ></i>
                  </td>
                  <td>
                    <i
                      (click)="deleteUsuarioControler(usuarioControler.id)"
                      class="far fa-trash-alt text-danger"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
